<div class="content-section">
  <h3><span class="oi oi-bell"></span> Alerts</h3>
  <p class='text-muted'>Here you see the alerts of your to-dos:
    <ul class="list-group">
        {% if task_alerts %}
            {% for task in task_alerts %}
              {% if task.task.soft_del == False %}
                <li class="alert-list-item alert alert-danger fade-in alert-dismissable" role="alert">Your task <b>'{{task}}'</b> is about to reach dead line in 
                <b>{{task.task.notify_before}} Hour {{task.notify_before|pluralize}}</b>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{% url 'todo-update' task.task.id %}" style="color: #C05532;">
                  <span class="oi oi-eye"></span>
                </a>&nbsp;&nbsp;
                <a href="{% url 'alert-task-delete' task.id %}" class="alert-delete-link" style="color: #C05532;">
                  <span class="oi oi-trash"></span>
                </a>
                </li>
                {% endif %}
            {% endfor %}
        {% endif %}
    </ul>
  </p>
</div>