{% extends "base.html" %}

{% block content %}

{% if pending_tasks %}
<div class="content-section">
    <h2 class="text-center">Things ToDo</h2>
    
    {% for task in pending_tasks %}
        <div class="todo-item mt-4" data-toggle="collapse" data-target="#demo{{task.id}}">
            <h2 class="task-heading">{{task}}</h2> <div class="status-div"></div>
            <small>
            Status:
            {% if task.status == "Pending" %}
            <span class="{% if task.status %}status-pending{% endif %}">Pending</span> 
            {% else %}
            <span class="{% if task.status %}status-completed{% endif %}">Completed</span> 
            {% endif %}

            | Actions: <a href="{% url 'todo-update' task.id %}" class="edit-todo"><span class="oi oi-pencil"> Edit</span></a>
            <a href="{% url 'todo-completed' task.id %}" class="mark-todo"><span class="oi oi-check"> Mark as completed</span></a>
            | <b>Due Date:</b> <span class="oi oi-calendar due-date"> {{task.due_date}}</span>
            </small>
            <br /><br />
            <div id="demo{{task.id}}" class="collapse">
                <p>{{task.description}}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% else %}
<div class="content-section">
    <h2 class="text-center">Seems there are no Tasks in your bucket, please add a Todo</h2>
</div>
{% endif %}

{% if completed_tasks %}
<div class="content-section">
    <h2 class="text-center">Completed Tasks</h2>
    {% for task in completed_tasks %}
        <div class="todo-item mt-4" data-toggle="collapse" data-target="#demo{{task.id}}">
            <h2 class="task-heading">{{task}}</h2> <div class="status-div"></div>
            <small>
            Status:
            {% if task.status == "Completed" %}
            <span class="{% if task.status %}status-completed{% endif %}">Completed</span> 
            {% else %}
            <span class="{% if task.status %}status-pending{% endif %}">Pending</span> 
            {% endif %}

            | Actions: <a href="{% url 'todo-update' task.id %}" class="edit-todo"><span class="oi oi-pencil"> Edit</span></a>
            <a href="{% url 'todo-delete' task.id %}" class="delete-completed"><span class="oi oi-trash"> Delete</span></a>
            | <b>Due Date:</b> <span class="oi oi-calendar due-date"> {{task.due_date}}</span>
            </small>
            <br /><br />
            <div id="demo{{task.id}}" class="collapse">
                <p>{{task.description}}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}